body{
margin: 0;
padding: 0;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;

}

header{

    width: 100%;
    height: 60px;

}

header nav {
    display: flex;
    /*justifica hasta la derecha*/
    justify-content: flex-end;

}

header nav .nav-right-section{
width: 250px;
height: auto;
display: flex;
list-style: none;
justify-content: center;
align-items: center;
}

a {

    text-decoration: none;
    cursor: pointer;

}

nav .nav-right-section a {

    margin-right: 20px;
    color: rgb(28, 28, 28);
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 23px;
    height: 23px;
    background-size: contain;
    margin-right: 23px;

}

nav .nav-right-section .foto {
    background-image: url(https://lh3.googleusercontent.com/ogw/AAEL6sgg6ZYArR60pVuXlFPtlHBrzxU2feiTwqgKg0W85Q=s64-c-mo);
    width: 33px;
    height: 33px;
    background-size: contain;
    border-radius: 50%;
}

/******************************************************/
/*Main*/


main {

    margin-top: 50px;
    text-align: center;
}
/*sección logo*/
main .main-logo{

    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
    

}
/*logo google*/
main .main-logo img{

width: 300px;
height: 100px;

}

/*sección input*/

main .main-input {

    width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;


}

/**/

main .main-input-container {


    width: 500px;
    border-radius: 80px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .main-input input {

    border: none;
    width: 450px;
    height: 40px;
    outline: none;

}

main .main-input-container:hover {
    box-shadow: 0 0.5px 6px 0.5px #20212447;


}

main .main-input .search-icon {

    background-image: url("https://seekicon.com/free-icon-download/search_20.svg");
    background-position: center;
    background-size: contain;
    width: 15px;
    background-repeat: no-repeat;
    height: 15px;
    margin-left: 15px;

}

main .main-input .micro-icon {

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

main .main-input .cam-icon {

    background-image: url("https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 10px;
    margin-right: 15px;

}

main .main-buttons {

    width: 550px;
    margin: 0 auto;
    
}

main .main-buttons div{

    display: inline-block; /*pone ambos botones en la misma linea*/
    

}

main .main-buttons button{
    border: 0;
    height: 36px;
    /* Fondo de botones */
    background-color: #f8f9fa;
    font-size: 14px;
    /* Color de letras antes de hover */
    color: #3c4043;
    /* Redondeamos botones */
    border-radius: 4px;
    /* Margen interno */
    padding: 0 15px;
    /* Margen entre botones */
    margin-right: 15px;
    border: 1px solid #f8f9fa;
}
main .main-buttons button:hover{
    box-shadow:0 1px 1px rgba(0,0,0,.1);
    /* background-color:#f8f9fa; */
    /* Cambia borde al hacer hover */
    border:1px solid #dadce0;
    /* Cambia color letras (muy leve) al hacer hover */
    color:#202124;
    cursor:pointer;
}

/**************************
*****************************
*****************************
*****************************
*****************************
**********************************/

/*Footer*/

footer {

    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
    /* Footer dividido en dos columnas*/
    display: grid; /*cuadrícula invisible*/
    grid-template-columns: 1fr 1fr;
    align-items: center;
    bottom: 0; /*posiciona el footer al final, se muestra en porcentajes*/
}

footer ul{

    margin: 10px;
    list-style: none; /*quita puntos de la viñeta*/
    display: flex;
    padding-left: 0;

}

footer .footer-left {
    justify-self: left;


}

footer .footer-right {
    justify-self: right;


}

footer ul li a{

color: #70757a;
margin: 10px;


}